*{
    padding: 0;
    margin: 0;
}

.home{
    
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('../img/map-image.png');
    background-position: center center;
    background-size: cover;
    background-color: #14121d;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}
.home .container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.home .container nav {
    width: 100%;
    height: 70px;
    background-color: #14121d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .container nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;
    margin-left: 920px;

}

.home .container nav ul li{
    margin-left: 50px;
    list-style-type: none;

}

.home .container nav ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    

}

.home .container nav ul li:nth-child(5) a{
    color: gold;
}


.home .container nav ul li a:hover{
    color: gold;
}

.home .container .p-h1{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white ;
    margin-left: 650px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.home .container .p-h1 h1{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -100px;
    font-size: 38px;
    margin-left: -10px;
}

.home .container .p-h1 p{
    font-family: 'Times New Roman', Times, serif;
    width: 600px;
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    margin-left: -400px;
    margin-top: 20px;
    color: rgb(122, 135, 151);
    
}


.home .container .log-info{
    width: 1300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-top: -100px;
}

.home .container .log-info div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
}

.home .container .log-info div:nth-child(1){
    flex-direction: column;
}

.home .container .log-info div:nth-child(1) input{
    width: 500px;
    height: 70px;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 20px;
    margin-left: 100px;
}

.home .container .log-info div:nth-child(2) input{
    width: 500px;
    height: 250px;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: -100px;
    margin-top: 20px;
}

.home .container button{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    margin-left: 700px;
    border-radius: 10px;
    cursor: pointer;
}

.home .container button a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.home .container button:hover{
    background-color: rgba(255, 217, 0, 0.677);
}
